table {
  width: 80%;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
  aspect-ratio: 2/1;
  border-color: black;
  background-color: rgb(228, 247, 247);
}

th {
  padding: 5px;
  background: #7c5faf;
  color: rgb(255, 255, 255);
}

button {
  background-color: #7c5faf;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
